.packages
{
    padding-top: 80px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    animation: fadeInLeft; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
    
}

.table-danger:hover
{
    background-color: lightgrey;
}