<div class="body">

    <h1>Welcome to Package Registration Service</h1>

    

    <div class="card">
        <div class="card-header">
          Registration Steps!
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">1. Place the Package on Weight Sensor.</li>
          <li class="list-group-item">2. Select "Send Package".</li>
          <li class="list-group-item">3. Enter Required Information As Mentioned.</li>
          <li class="list-group-item">4. Make the Payment Using the ATM Machine.</li>
          <li class="list-group-item">5. Paste the Barcode in the Receipt on the Package..</li>
          <li class="list-group-item">6. Place the Package on Weight Sensor and Scan the Barcode Using Barcode Reader to Confirmation.</li>
        </ul>

      </div>

</div>


